@using Kabam.Blazor.Services

@using Kabam.Domain
@using Microsoft.AspNetCore.Authorization
@page "/addTarefa"
@attribute [Authorize]
@inject TarefaService TarefaService
@inject NavigationManager NavigationManager

<h3>Adicionar Tarefa</h3>

<input @bind="novaTarefa.Descricao" placeholder="Digite a descrição" />
<input @bind="novaTarefa.Data" type="date" />
<select>
    @foreach (var item in Enum.GetValues(typeof(StatusTarefaEnum)))
    {
        <option value="@item">@item</option>
    }

</select>
<button @onclick="AdicionarTarefa">Adicionar</button>
<!-- Formulário de criação da tarefa aqui -->
@if (isAdd)
{
    <p class="btn btn-success">Tarefa Adicionada com sucesso!</p>
}
@code {
    private Tarefa novaTarefa = new();
    bool isAdd;
    private async Task AdicionarTarefa()
    {
        isAdd = await TarefaService.AddTarefaAsync(novaTarefa);
        NavigationManager.NavigateTo("/listarT", true);

    }

}
