@using Kabam.Blazor.Services

@using Kabam.Domain
@using Microsoft.AspNetCore.Authorization
@inject TarefaService tarefaService
@page "/listarT"
@attribute [Authorize]
<h3>ListTarefas</h3>

<table class="table">
    <thead>
        <tr>
            <td>Data</td>
            <td>Descrição</td>
        </tr>
    </thead>
    <tbody>
        @if (ListVMs.Count() > 0)
        {
            foreach(var item in ListVMs)
            {
                <tr>
                    <td>
                        @item.Data.ToString("D")
                    </td>
                    <td>
                        @item.Descricao
                    </td>
                    <td>
                        <select disabled @onchange="HandleSelectionChange">
                            <option value="">Selecione uma opção</option>
                            @foreach (var selectStatus in ListVMs)
                            {
                                <option selected  value="@selectStatus.StatusTarefa">@item.StatusTarefa</option>
                            }
                        </select>
                    </td>
                </tr>
            }

        }
        else
        {
            <p>Não há tarefas cadastradas</p>
        }

    </tbody>
</table>
@code {
    private List<Tarefa> ListVMs = new();

    protected override async Task OnInitializedAsync()
    {
        ListVMs = await tarefaService.GeTarefasAsync();
        Console.WriteLine("aqui"+ListVMs[0].Descricao);
    }
    private void HandleSelectionChange(ChangeEventArgs e)
    {
        Console.WriteLine("Selecionado");
    }

}
